<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-hw01-12_05.css') }}">
</head>
<body>
    <h1>Hello, Flask!</h1>
        <h2>Александр Пушкин</h2>
            <h3>1829 г.</h3>
            <p>О сколько нам открытий чудных
            <br>Готовят просвещенья дух
            <br>И Опыт, сын ошибок трудных,
            <br>И Гений, парадоксов друг,
            <br>И Случай, бог изобретатель...
</body>
</html>
